*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container-tablet{
    display: none;
}

.container-netizan-tablet{
    display: none;
}

.container-phone{
    display: none;
}
/* Header starts here */

.nav-bar{
    margin-top: 1.7%;
    margin-left: 0.5%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
}


.nav-one-image{
    width: 180px;
    /* border: 1px solid blue; */
    padding-left: 30px;
}

.nav-one-image img{
    width: 120px;
    height: auto;
    /* border: 1px solid blue; */
}

.nav-two-links{
    display: flex;
    margin-left: 50%;
    padding-top: 5px;
}

.nav-two-links a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 13px;
}

.nav-two-links a:hover{
    color: red;
    font-weight: 600;
}

.navlink-space{
    margin-left: 50px;
    
}

.navlink-button{
    margin-left: 30px;
}

.navlink-button button{
    width: 80px;
    height: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
}

.navlink-button button:hover{
    border: 2px solid rgb(255, 0, 0);
    font-weight: 600;
}

/* Nav Bar ends here */

.middle-section{
    margin-top: 3.5%;
    margin-left: 0.5%;
    display: flex;
}

.middle-section-title{
    margin-left: 80px;
    padding-top: 40px;
}

.middle-section-title h2{
    padding-top: 70px;
}

.middle-section-title p{
    color: gray;
    margin-top: 16px;
    font-weight: 500;
    font-size: 15px;
}

.middle-section-button{
    margin-top: 18px;
    display: flex;
}

.middle-section-button button{
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border: 1px solid gray;
}

.middle-section-button button:hover{
    border: 1px solid blue;
}

.middle-section-button a{
    text-decoration: none;
    color: black; 
}

.middle-section-button a:hover{
    color: blue;
}

.button-middle-two{
    margin-left: 10px;
}

.middle-section-image{
    margin-left: 180px;
    margin-top: 18px;
    /* border: 1px solid red; */
    width: 60%;
    height: 300px;
    background-color: blue;
    border-bottom-left-radius: 150px;
    border-top-left-radius: 150px;
}

.middle-section-image img{
    width: 550px;
    box-shadow: transparent 10px 12px 1px 10px;
    margin-right: 60px;
}

.contents-section-wrapper{
    margin-top: 4.7%;
}

.contents-section-one{
    margin-left: 630px;
}

.contents-section-one h2{
    font-weight: 500;
    font-size: 34px;
    padding-left: 40px;
}

.contents-section-two{
    margin-left: 500px;
    margin-top: 16px;
}

.contents-section-two p{
    color: gray;
    font-weight: 500;
    font-size: 15px;
}

.contents-section-two .first{
    padding-left: 16px;
}

.contents-section-two .third{
    padding-left: 102px;
}

.contents-section-three{
    margin-left: 480px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.contents-section-three a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.contents-section-three a:hover{
    color: red;
}

.contents-section-three hr{
    width: 53.4%;
    margin-top: 4%;
}

/* Fourth wrapper starts here */

.fourth-wrapper{
    padding-top: 34px;
    display: flex;
}

.picture-frame{
    padding: 5.5%;
    /* padding-bottom: 2%; */
    background-color: blue;
    height: 300px;
    border-bottom-right-radius: 150px;
    border-top-right-radius: 150px;
}

.picture-frame img{
    width: 520px;
    height: 270px;
    padding-left: 80px;
    padding-bottom: 28px;
    box-shadow: transparent 10px 12px 1px 10px;
}

.fouth-section-letters{
    margin-left: 60px;
    padding-left: 100px;
}

.heavy-letters h2{
    padding-top: 60px;
    padding-left: 60px;
    font-size: 25px;
}

.light-letters p{
    padding-top: 20px;
    color: gray;
    font-weight: 500;
    padding-left: 20px;
}

.letters-button{
    /* margin-top: 1%; */
    padding-left: 20px;
    padding-top: 20px;
}

.letters-button button{
    padding: 18px 16px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 8px;
}

.letters-button button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Lower wrapper and Image block starts here */

.lower-wrapper{
    margin-top: 2.7%;
    margin-left: 80px;
}

.lower-wrapper h2{
    padding-left: 530px;
    padding-top: 20px;
}

.lower-wrapper  p{
    color: gray;
    padding-left: 450px;
    padding-top: 0.2%;
}

/* Image wrapper begins here */

.image-wrapper{
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
    display: flex;
}

/* Image One begins */

.image-one{
    width: 18%;
    height: 300px;
    border: 1px solid gray;
    background-color: white;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    box-shadow: rgb(194, 194, 240) 6px 5px 10px 8px;
    border-radius: 15px;
}

.image-one img{
    height: 80px;
    width: 80px;
    margin-left: 35px;
}

.image-one strong{
    margin-left: 20px;
    margin-top: 30px;
}

.image-one p{
    color: gray;
    margin-left: 2px;
    margin-top: 10px;
}

.image-one button{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.image-one button:hover{
    background-color: white;
    border: 2px solid blue;
}

.image-one button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.image-one button a:hover{
    color: blue;
    font-weight: 600;
}

/* Image Two begins */

.image-two{
    border: 1px solid gray;
    background-color: white;
    margin-left: 50px;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: 18%;
    height: 300px;
    box-shadow: rgb(194, 194, 240) 6px 5px 10px 8px;
    border-radius: 15px;
}

.image-two img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.image-two strong{
    margin-left: 20px;
    margin-top: 30px;
}

.image-two p{
    color: gray;
    margin-left: 2px;
    margin-top: 10px;
}

.image-two button{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.image-two button:hover{
    background-color: white;
    border: 2px solid blue;
}

.image-two button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.image-two button a:hover{
    color: blue;
    font-weight: 600;
}

/* Image Three Begins */

.image-three{
    border: 1px solid gray;
    background-color: white;
    margin-left: 50px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: 18%;
    height: 300px;
    box-shadow: rgb(194, 194, 240) 6px 5px 10px 8px;
    border-radius: 15px;
}

.image-three img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.image-three strong{
    margin-left: 20px;
    margin-top: 30px;
}

.image-three p{
    color: gray;
    margin-left: 2px;
    margin-top: 10px;
}

.image-three button{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.image-three button:hover{
    background-color: white;
    border: 2px solid blue;
}

.image-three button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.image-three button a:hover{
    color: blue;
    font-weight: 600;
}

/* after-image-container begins here */

.after-image{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 3%;
}

.after-image hr{
    margin-top: 2%;
    margin-left: 37%;
    width: 34%;
}

.after-image button{
    margin-top: 5%;
    margin-left: 48.7%;
    width: 10%;
    background-color: rgb(102, 102, 218);
    color: white;
    padding: 18px 20px;
    font-size: 16px;
    border: 1px solid rgb(102, 102, 218);
    border-radius: 8px;
    /* width: 34%; */
}

.after-image-title{
    /* border: 1px solid red; */
    padding-left: 36%;
    padding-top: 2%;
}

.after-image-title h2{
    font-size: 28px;
    padding-left: 4.5%;
}

.after-image-title p{
    padding-top: 8px;
    color: gray;
    font-size: 18px;
}

.spec{
    padding-left: 5.5%;
}

/* After Image two, three and four begins */

.after-image-two{
    margin-left: 37.5%;
    margin-top: 1.5%;
}

.after-image-two i{
    color: blue;
    margin-left: 32%;
}

.after-image-three{
    margin-left: 37.5%;
    margin-top: 1.5%;
}

.after-image-three i{
    color: red;
    margin-left: 18.5%;
}

.after-image-four{
    margin-left: 35.7%;
    margin-top: 1.5%;
}

.after-image-four p{
    color: gray;
    font-size: 16px;
    margin-top: 3.5%;
    margin-left: 2.2%;
}
/* After Image five and six begins */

.after-image-five{
    margin-left: 36%;
    margin-top: 1.5%;
}

.after-image-five strong{
    margin-left: 2.5%;
    margin-top: 1.5%;
}

.after-image-five i{
    margin-left: 28.5%;
    color: blue;
}

.after-image-six{
    margin-left: 36%;
    margin-top: 1.5%;
}

.after-image-six strong{
    margin-left: 2.5%;
    margin-top: 1.5%;
}

.after-image-six i{
    margin-left: 12.5%;
    color: blue;
}

/* Footer begins here */

footer{
    margin-top: 6.7%;
    background-color: rgb(62, 62, 212);
    padding-top: 5%;
    padding-bottom: 5%;
}

.footer-one{
    margin-left: 42%;
}

.footer-one p{
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 8.5px;
    margin-bottom: 4%;
}

footer strong{
    margin-left: 38.5%;
    margin-top: 8%;
    color: white;
    font-weight: 600;
    font-size: 37px;
}

.footer-two{
    display: flex;
    /* border: 1px solid red; */
    padding-left: 35%;
    margin-top: 2%;
}

.footer-input{
    border: 1px solid red;
    border-radius: 8px;
    background-color: red;
}

.footer-input p{
    margin-left: 8px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}

.footer-input input{
    padding: 16px 28px;
    border-radius: 5px;
    font-size: 16px;
    border: 1px gray;
}

.footer-two-button {
    margin-left: 4%;
}

.footer-two-button button{
    display: flex;
    padding: 16px 34px;
    border-radius: 5px;
    border: 1px gray;
}

.footer-two-button button:hover{
    border: 2px solid red;
    cursor: grab;
}

.footer-two-button button p{
    margin-left: 4px;
    font-size: 16px;
    font-weight: 500;
}

.footer-two-button button p:hover{
    color: red;
    font-weight: 600;
}

/* Lower footer section begin here */

.footer-lower-end{
    display: flex;
    background-color: rgb(25, 25, 53);
    padding-top: 4%;
    padding-bottom: 2.75%;
    padding-left: 10%;
}

.footer-lower-end a{
    padding-top: 0.4%;
    margin-left: 4.5%;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-lower-end a:hover{
    color: red;
    cursor: grab;
}

#footer-links{
    margin-left: 8%;
}

.footer-icons{
    margin-left: 33%;
    /* display: flex; */
    justify-content: space-evenly;
}

.footer-icons i{
    padding-left: 24px;
}
/* Responsive Work Begins Here */

/* Netizan Tablet for wider screen begins here */

@media only screen and (max-width: 910px){

    .container-desktop{
        display: none;
    }
    
    .container-tablet{
        display: none;
    }

    .container-phone{
        display: none;
    }

    /* declaration begins */

    .container-netizan-tablet{
        display: flex;
        flex-direction: column;
        /* border: 1px solid black; */
        width: 910px;
        height: auto;
    }

    /* Header */

    header{
        margin: 0;
        padding: 0;
    }

    .nav-bar{
        display: flex;
        margin: 30px 20px;
        padding: 0;
        /* border: 1px solid red; */
    }

    .nav-one-image{
        margin: 0;
        padding: 0;
        /* border: 1px solid red; */
    }

    .nav-one-image img{
        width: 170px;
        height: auto;
    }

    .nav-two-links{
        margin-left: 70px;
        margin-top: 1px;
        padding: 0;
        /* border: 1px solid red; */
    }

    .navlink-space{
        padding: 0;
        margin-top: 0;
        margin-left: 60px;
    }

    .nav-two-links a{
        font-size: 22px;
    }

    .navlink-button{
        margin-left: 60px;
        margin-top: 0;
        padding: 0;
    }

    .navlink-button button{
        width: 130px;
        height: auto;
    }

    /* Header done */

    .after-nav{
        margin: 0;
        padding: 0;
    }

    .middle-section{
        display: flex;
        margin: 30px 0;
        padding: 30px 0;
        /* border: 1px solid red; */
    }

    .middle-section-image{
        margin-top: 0;
        margin-left: 50px;
        padding: 0;
        width: 450px;
        height: auto;
    }

    .middle-section-image img{
        width: 400px;
        height: auto;
        margin: 0;
        padding-top: 10px;
        padding-left: 40px;
        padding-bottom: 0;
    }

    .middle-section-title{
        margin: 0;
        padding-top: 0;
        padding-left: 43px;
        /* border: 1px solid blue; */
    }

    .middle-section-title h2{
        margin: 0;
        padding-left: 0;
        padding-top: 60px;
        font-size: 26px;
    }

    .middle-section-title p{
        font-size: 17.25px;
        margin-top: 20px;
    }

    /* After Nav bar done */

    .contents{
        margin: 0;
        padding: 0;
    }

    .contents-section-wrapper{
        margin: 60px 0;
        padding: 0;
        /* border: 1px solid green; */
    }

    .contents-section-one{
        margin: 0;
        padding: 0 360px;
        /* border: 1px solid black; */
    }

    .contents-section-two{
        margin: 0;
        padding: 20px 110px;
    }

    .contents-section-two p{
        font-size: 24px;
    }

    .contents-section-three{
        padding: 0;
        margin: 20px 85.90px;
    }

    .contents-section-three a{
        font-size: 26px;
    }

    .contents-section-three .give-space{
        margin-left: 50px;
    }

    .contents-section-three hr{
        width: 100%;
        margin: 50px 0;
    }

    /* fourth wrapper starts here */

    .fourth-wrapper-container{
        margin: 0;
        padding: 0;
    }

    .fourth-wrapper{
        padding-left: 0;
        padding-bottom: 40px;
        margin: 0;
        /* border: 1px solid blue; */
    }

    .picture-frame{
        width: 450px;
        height: auto;
        margin: 0;
        padding-left: 0;
        padding-bottom: 40px;
    }

    .picture-frame img{
        width: 350px;
        height: auto;
        margin-top: 16px;
        margin-left: 60px;
        padding: 0;
    }

    .fouth-section-letters{
        margin: 0;
        padding: 0;
    }

    .heavy-letters{
        margin-left: 30px;
        margin-top: 20px;
        padding: 0;
    }

    .heavy-letters h2{
        font-size: 26px;
    }

    .light-letters{
        margin-top: 0;
        margin-left: 10px;
        padding: 0;
    }

    .light-letters p{
        font-size: 18px;
    }

    .letters-button{
        margin-left: 108px;
        margin-top: 20px;
        /* border: 1px solid red; */
    }

    .letters-button button{
        width: 160px;
    }

    /* fourth wrapper ends */

    .lower-wrapper-and-image-block{
        margin: 0;
        padding: 0;
    }

    .lower-wrapper{
        margin: 100px 0;
        padding: 0;
        /* border: 1px solid red; */
    }

    .lower-wrapper h2{
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 289.90px;
        font-size: 26px;
    }

    .lower-wrapper p{
        margin: 0;
        padding: 0 140px;
        font-size: 24px;
    }

    .image-wrapper{
        margin: 0;
        padding: 30px 0;
        /* border: 1px solid brown; */
        height: auto;
    }

    .image-one{
        margin-top: 10px;
        margin-left: 65px;
        width: 210px;
        height: 340px;
    }

    .image-one img{
        padding: 0;
        margin: 0 28px;
    }

    .image-one strong{
        margin: 20px 6px;
        padding: 0;
        font-size: 16px;
    }

    .image-one p{
        font-size: 20px;
        margin: 0;
        padding: 0 15px;
    }

    .image-two{
        margin-top: 80px;
        margin-left: 65px;
        width: 210px;
        height: 340px;
    }

    .image-two img{
        padding: 0;
        margin: 0 28px;
    }

    .image-two strong{
        margin: 20px 6px;
        padding: 0;
        font-size: 16px;
    }

    .image-two p{
        font-size: 20px;
        margin: 0;
        padding: 0 15px;
    }

    .image-three{
        margin-top: 160px;
        margin-left: 65px;
        width: 210px;
        height: 340px;
    }

    .image-three img{
        padding: 0;
        margin: 0 28px;
    }

    .image-three strong{
        margin: 20px 6px;
        padding: 0;
        font-size: 16px;
    }

    .image-three p{
        font-size: 20px;
        margin: 0;
        padding: 0 15px;
    }

    /* after-image-container starts here */

    .after-image-container{
        margin: 0;
        padding: 0;
    }

    .after-image{
        margin: 50px 0;
        padding-top: 0;
        padding-bottom: 40px;
        border: 1px solid blue;
    }

    .after-image hr{
        margin: 30px 240px;
        width: 500px;
    }

    .after-image-title{
        margin: 30px 0;
        padding: 0;
    }

    .after-image-title h2{
        padding: 0 260px;
        margin-bottom: 20px;
    }

    .after-image-title p{
        font-size: 22px;
        padding: 0 163px;
    }

    .after-image-two{
        margin-top: 0;
        margin-left: 250px;
        padding: 0;
    }

    .after-image-two strong{
        font-size: 24px;
    }

    .after-image-two i{
        margin-top: 0;
        margin-left: 230px;
        padding: 0;
    }

    .after-image-three{
        margin-top: 0;
        margin-left: 250px;
        padding: 0;
    }

    .after-image-three strong{
        font-size: 24px;
    }

    .after-image-three i{
        margin-top: 0;
        margin-left: 60px;
        padding: 0;
    }

    .after-image-four{
        margin-top: 0;
        margin-left: 110px;
        padding: 0;
    }

    .after-image-four p{
        font-size: 23px;
    }

    .after-image-five{
        margin-top: 0;
        margin-left: 240px;
        padding: 0;
    }

    .after-image-five strong{
        font-size: 24px;
    }

    .after-image-five i{
        margin-top: 0;
        margin-left: 190px;
        padding: 0;
    }

    /* after image six right here */

    .after-image-six{
        margin-top: 0;
        margin-left: 240px;
        padding: 0;
    }

    .after-image-six strong{
        font-size: 20px;
    }

    .after-image-six i{
        margin-top: 0;
        margin-left: 70px;
        padding: 0;
    }
}




/* Tablet Version */
@media only screen and (max-width: 780px){

    .container-desktop{
        display: none;
    }
    
    .container-phone{
        display: none;
    }

    .container-netizan-tablet{
        display: none;
    }

    /* Tablet Responsive starts */

    .container-tablet{
        display: flex;
        flex-direction: column;
        border: 1px solid green;
        width: 780px;
        padding-left: 4px;
    }

    .nav-bar{
        display: flex;
        margin: 0;
        padding: 0;
    }

    .nav-one-image{
        margin: 0 4px 0 0;
        padding: 0;
        width: 150px;
        /* border: 1px solid red; */
    }

    .nav-one-image img{
        width: 130px;
        height: auto;
        margin: 4px;
        padding-top: 2.55px;
        padding-right: 6px;
        padding-left: 4px;
    }

    .nav-two-links{
        margin-left: 6px;
        padding: 8px 0 0 0;
        border: 1px solid red;
        width: 570px;
        height: auto;
    }

    .navlink-one a{
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        /* border: 1px solid red; */
    }

    .navlink-space{
        margin: 0;
        padding-left: 100px;
    }

    .navlink-space a{
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        /* border: 1px solid red; */
    }

    .navlink-button{
        margin-left: 40px;
        padding: 0;
        /* border: 1px solid red; */
    }

    .navlink-button button{
        padding: 0;
        margin: 0;
        width: 68px;
        height: 22px;
        border: 0.5px solid gray;
    }

    .navlink-button button a{
        padding: 0;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        /* border: 1px solid red; */
    }
    /* Nav bar and Header done */

    .middle-section{
        display: flex;
        flex-direction: column;
        width: 718px;
        height: auto;
        padding: 0;
        margin-top: 8px;
        /* border: 1px solid red; */
    }

    .middle-section-title{
        margin: 4px;
        padding: 0;
        /* border: 1px solid blue; */
    }

    .middle-section-title h2{
        margin-left: 34%;
        padding: 20px 0 0 0;
        display: flex;
        font-size: 20px;
        /* border: 1px solid blue; */
    }

    .middle-section-title p{
        margin: 0;
        padding-top: 8px;
        padding-left: 17%;
        font-size: 28px;
    }

    .middle-section-button{
        display: flex;
        margin: 20px 2px 8px 0;
        /* border: 1px solid blue; */
    }

    .button-middle-one button{
        width: 158px;
        height: 55px;
        padding: 0;
        margin-left: 176px;
    }

    .button-middle-one button a{
        font-size: 18px;
        padding: 0;
    }

    .button-middle-two button{
        width: 158px;
        height: 55px;
        padding: 0;
        margin-left: 55px;
    }

    .button-middle-two button a{
        font-size: 18px;
        padding: 0;
    }

    .middle-section-image{
        margin: 35px 0 0 0;
        padding-top: 27px;
        padding-left: 40px;
        /* background: none; */
        /* border: 1px solid purple; */
        width: 710px;
        height: auto;
    }

    .middle-section-image img{
        width: 618px ;
        height: auto;
        padding-left: 20px;
    }

    /* Middle Section Done */

    .contents-section-wrapper{
        margin: 50px 0 0 0;
        padding: 0;
        width: 724px;
        display: flex;
        flex-direction: column;
        /* border: 1px solid orangered; */
    }

    .contents-section-one{
        margin: 8px 0;
        padding: 0;
        /* border: 1px solid green; */
        /* width: 220px; */
    }

    .contents-section-one h2{
        font-size: 28px;
        padding-left: 310px;
    }

    .contents-section-two{
        margin: 8px 0;
        padding: 0;
        /* border: 1px solid brown; */
    }

    .contents-section-two p{
        font-size: 24px;
    }

    .contents-section-three{
        margin: 36px 0;
        padding: 0;
        /* border: 1px solid brown; */
    }

    .contents-section-three a{
        font-size: 22px;
        padding-left: 50px;
    }

    .contents-section-three hr{
        width: 88.80%;
        margin-left: 44px;
    }

    .fourth-wrapper{
        /* border: 1px solid black; */
        display: flex;
        flex-direction: column;
        margin: 10px 0 0 0;
        padding: 0;
    }

    .picture-frame{
        height: auto;
    }

    .picture-frame img{
        width: 600px;
        height: 400px;
    }

    .fouth-section-letters{
        /* border: 1px solid blueviolet; */
        margin: 15px 0 0 0;
        padding: 0;
    }

    .heavy-letters{
        margin: 0;
        padding: 0;
    }

    .heavy-letters h2{
        margin: 0;
        padding: 50px 218px;
        font-size: 28px;
    }

    .light-letters{
        /* border: 1px solid green; */
        margin: 0;
        padding: 0;
    }

    .light-letters p{
        font-size: 26px;
        padding: 0 80px;
    }

    .letters-button{
        /* border: 1px solid green; */
        margin: 50px 0;
        padding: 0 310px;
    }

    .letters-button button{
        padding: 22px 28px;
    }

    .lower-wrapper{
        /* border: 1px solid green; */
        margin: 40px 0;
        padding: 0;
    }

    .lower-wrapper h2{
        /* border: 1px solid green; */
        margin:  0;
        padding: 0 210px;
        font-size: 26.5px;
    }

    .lower-wrapper p{
        /* border: 1px solid green; */
        margin: 12px 0;
        padding: 0 40px;
        font-size: 26px;
    }

    .image-wrapper{
        /* border: 1px solid green; */
        margin: 0;
        padding: 0;
        height: auto;
    }

    .image-one{
        margin: 18px 28px;
        padding: 10px 30px;
        /* border: 1px solid blue; */
        width: 180px;
    }

    .image-one img{
        width: 60px;
        height: auto;
        padding: 0;
        margin: 0 30px;
    }

    .image-one strong{
        margin: 12px 26px;
        padding: 0;
        font-size: 18px;
    }

    .image-one p{
        font-size: 22px;
        padding: 0 6px;
    }

    /* Image two */

    .image-two{
        margin: 68px 38px;
        padding: 10px 30px;
        /* border: 1px solid blue; */
        width: 180px;
    }

    .image-two img{
        width: 60px;
        height: auto;
        padding: 0;
        margin: 0 30px;
    }

    .image-two strong{
        margin: 12px 26px;
        padding: 0;
        font-size: 18px;
    }

    .image-two p{
        font-size: 22px;
        padding: 0 6px;
    }

    /* Image three */

    .image-three{
        margin-top: 118px;
        margin-left: 30px;
        padding: 10px 30px;
        /* border: 1px solid blue; */
        width: 180px;
    }

    .image-three img{
        width: 60px;
        height: auto;
        padding: 0;
        margin: 0 30px;
    }

    .image-three strong{
        margin: 12px 26px;
        padding: 0;
        font-size: 18px;
    }

    .image-three p{
        font-size: 22px;
        padding: 0 6px;
    }

    .after-image{
        margin: 0;
        padding: 0;
        /* border: 1px solid blue; */
    }

    .after-image button{
        margin: 15px 290px;
        padding: 20px 22px;
        width: 200px;
    }

    .after-image hr{
        margin: 30px 130px;
        padding: 0;
        width: 500px;
    }

    .after-image-title{
        margin: 70px 0;
        padding: 0 40px;
        /* border: 1px solid rgb(251, 255, 0); */
    }

    .after-image-title h2{
        font-size: 28px;
        padding: 18px 140px;
    }

    .after-image-title p{
        font-size: 26px;
    }

    .after-image-two{
        margin: 0;
        padding: 0;
        /* border: 1px solid rgb(251, 255, 0); */
    }

    .after-image-two strong{
        font-size: 26px;
        padding-left: 140px;
    }

    .after-image-two i{
        padding: 0;
        margin-left: 200px;
        margin-top: 0;
        /* width: 60px; */
        /* border: 1px solid red; */
    }

    /* after image three */
    .after-image-three{
        margin: 0;
        padding: 0;
        /* border: 1px solid rgb(251, 255, 0); */
    }

    .after-image-three strong{
        font-size: 26px;
        padding-left: 140px;
    }

    .after-image-three i{
        padding: 0;
        margin-left: 16px;
        margin-top: 0;
        /* width: 60px; */
        /* border: 1px solid red; */
    }

    /* after image four */

    .after-image-four{
        margin: 60px 0;
        padding: 0;
        /* border: 1px solid rgb(251, 255, 0); */
    }

    .after-image-four p{
        font-size: 24px;
    }

    /* after image five */

    .after-image-five{
        margin: 0;
        padding: 0;
        /* border: 1px solid rgb(251, 255, 0); */
    }

    .after-image-five strong{
        font-size: 26px;
        padding-left: 122px;
    }

    .after-image-five i{
        padding: 0;
        margin-left: 180px;
        margin-top: 0;
    }

    /* after image six */

    .after-image-six{
        margin: 0;
        padding: 0;
        /* border: 1px solid rgb(251, 255, 0); */
    }

    .after-image-six strong{
        font-size: 22px;
        padding-left: 122px;
    }

    .after-image-six i{
        padding: 0;
        margin-left: 40px;
        margin-top: 0;
    }

    /* footer begins here */

    footer{
        margin-left: 0;
        margin-top: 50px;
        padding: 0;
        /* border: 2px solid black; */
    }

    .footer-one{
        margin: 80px 0;
        padding: 0 150px;
        /* border: 2px solid black; */
    }

    .footer-one p{
        font-size: 20px;
    }

    footer strong{
        margin: 0;
        padding: 0 140px;
        /* border: 2px solid black; */
        font-size: 38px;
        /* width: ; */
    }

    .footer-two{
        margin: 80px 0;
        padding: 0 180px;
    }

    .footer-lower-end{
        /* border: 2px solid red; */
        margin: 0;
        padding: 80px 30px;
    }

    .footer-lower-end img{
        width: 180px;
        height: auto;
    }

    .footer-lower-end a{
        font-size: 20px;
        padding-left: 30px;
    }
    /* still working on responsiveness */
}



/* Phone Responsive Starts */

@media only screen and (max-width: 414px){

    .container-desktop{
        display: none;
    }
    
    .container-tablet{
        display: none;
    }

    .container-netizan-tablet{
        display: none;
    }

    /* declaration begins */

    .container-phone{
        display: flex;
        flex-direction: column;
        width: 414px;
        height: auto;
        border: 1px solid red;
    }
}

/* 