*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Universal selector */

.container-parent{
    background-color: white;
    padding-bottom: 11%;
}

.nav-bar-phone{
    display: none;
}

#phone{
    display: none;
}

.nav-bar{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.nav-one{
    margin-left: 80px;
    margin-bottom: 10px;
}

.nav-two{
    display: flex;
    flex-direction: row;
    margin-left: 800px;
    padding-top: 10px;
}

/* .navlink-one{} */

.navlink-one a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.navlink-one a:hover{
    color: red;
}

.navlink-two{
    margin-left: 30px;
    
}

.navlink-two a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.navlink-two a:hover{
    color: red;
}

.navlink-three{
    margin-left: 30px;
}

.navlink-three a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.navlink-three a:hover{
    color: red;
}

.navlink-button{
    margin-left: 30px;
}

.navlink-button button{
    padding: 4px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    border-radius: 5px;
}

.navlink-button button:hover{
    border: 1px solid rgb(255, 0, 0);
}

.navlink-button a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
}

.navlink-button a:hover{
    color: red;
}

/* Nav bar ends here */

.middle-section{
    margin-top: 20px;
}

.middle-one{
    margin-left: 80px;
    padding-top: 40px;
}

.middle-one h2{
    padding-top: 30px;
}

.middle-one p{
    color: gray;
    margin-top: 16px;
    font-weight: 500;
    font-size: 15px;
}

/* button for middle section starts here */

.button-middle{
    margin-top: 18px;
}

.button-middle-one button{
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.button-middle-one button:hover{
    border: 1px solid blue;
}

.button-middle-one a{
    text-decoration: none;
    color: black; 
}

.button-middle-one a:hover{
    color: blue;
}

.button-middle-two{
    margin-left: 10px;
}

.button-middle-two button{
    padding: 8px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
}

.button-middle-two button:hover{
    border: 1px solid blue;
}

.button-middle-two a{
    text-decoration: none;
    color: black; 
}

.button-middle-two a:hover{
    color: blue;
}

/* Middle one: h2 tag, p tag and buttons ends here */

.middle-section-two{
    margin-left: 180px;
}

.section-wrapper{
    margin-top: 50px;
}

.section-one{
    margin-left: 600px;
}

.section-one h2{
    font-weight: 500;
    font-size: 34px;
    padding-left: 40px;
}

.section-two{
    margin-left: 500px;
    margin-top: 16px;
}

.section-two p{
    color: gray;
    font-weight: 500;
    font-size: 15px;
}

.section-two .first{
    padding-left: 16px;
}

.section-two .third{
    padding-left: 102px;
}

.section-three{
    margin-left: 480px;
    padding-bottom: 30px;
    padding-top: 40px;
}

.section-three a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
}

.section-three a:hover{
    color: red;
}

/* Fourth wrapper starts here */

.fourth-wrapper{
    margin-top: 24px;
}

.picture-frame{
    margin-left: 80px;
    padding-left: 10px;
}

.fouth-letters{
    margin-left: 40px;
    padding-left: 80px;
}

.heavy-letters h2{
    padding-top: 60px;
    padding-left: 20px;
}

.light-letters p{
    padding-top: 20px;
    color: gray;
    font-weight: 500;
    padding-left: 20px;
}

.letters-button{
    padding-left: 20px;
    padding-top: 20px;
}

.letters-button button{
    padding: 8px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.letters-button button a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}

/* Lower wrapper begins here */

.lower-wrapper{
    margin-top: 30px;
    margin-left: 80px;
}

.lower-wrapper h2{
    padding-left: 530px;
    padding-top: 20px;
}

.lower-wrapper  p{
    color: gray;
    padding-left: 450px;
}

/* Image wrapper begins here */

.image-wrapper{
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
}

.image-one{
    border: 1px solid gray;
    background-color: white;
    margin-left: 280px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.image-one img{
    height: 80px;
    width: 80px;
    margin-left: 35px;
}

.image-one strong{
    margin-left: 20px;
    margin-top: 30px;
}

.image-one p{
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}

.image-one button{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.image-one button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.image-two{
    border: 1px solid gray;
    background-color: white;
    margin-left: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.image-two img{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.image-two strong{
    margin-left: 20px;
    margin-top: 30px;
}

.image-two p{
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}

.image-two button{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.image-two button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
}

.image-three{
    border: 1px solid gray;
    background-color: white;
    margin-left: 50px;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#opera{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

.image-three strong{
    margin-left: 20px;
    margin-top: 30px;
}

.image-three p{
    color: gray;
    margin-left: 10px;
    margin-top: 10px;
}

.image-three button{
    margin-top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgb(85, 85, 250);
    border: 1px solid rgb(85, 85, 250);
    border-radius: 5px;
}

.image-three button a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

/* Image wrapper ends here */

.after-image hr{
    margin-top: 2%;
    margin-left: 37%;
    width: 34%;
}

.after-image button{
    margin-top: 5%;
    margin-left: 50%;
    background-color: rgb(102, 102, 218);
    color: white;
    padding: 16px 22px;
    font-size: 16px;
    border: 1px solid rgb(102, 102, 218);
    border-radius: 8px;
    /* width: 34%; */
}

.after-image-one{
    margin-left: 40%;
    margin-top: 8%;
}

.after-image-one h2{
    margin-left: 5%;
    /* margin-top: 8%; */
}

.after-image-one .spec{
    margin-top: 2%;
}

.after-image-one p{
    color: gray;
    font-size: 16px;
}

.after-image-two{
    margin-left: 37.5%;
    margin-top: 1.5%;
}

.after-image-two i{
    color: blue;
    margin-left: 32%;
    /* margin-top: 1.5%; */
}


.after-image-three{
    margin-left: 37.5%;
    margin-top: 1.5%;
}

.after-image-three i{
    color: red;
    margin-left: 18.5%;
    /* margin-top: 1.5%; */
}

.after-image-four{
    margin-left: 36%;
    margin-top: 1.5%;
}

.after-image-four p{
    color: gray;
    font-size: 16px;
    margin-top: 3.5%;
    margin-left: 2.5%;
}

.after-image-five{
    margin-left: 36%;
    margin-top: 1.5%;
}

.after-image-five strong{
    margin-left: 2.5%;
    margin-top: 1.5%;
}

.after-image-five i{
    margin-left: 29.5%;
    color: blue;
}

.after-image-six{
    margin-left: 36%;
    margin-top: 1.5%;
}

.after-image-six strong{
    margin-left: 2.5%;
    margin-top: 1.5%;
}

.after-image-six i{
    margin-left: 14.5%;
    color: blue;
}

/* After Image Ends Here */

footer{
    background-color: rgb(62, 62, 212);
    padding-top: 5%;
    padding-bottom: 5%;
    /* height: 100vh; */
}

.footer-one{
    margin-left: 40%;
}

.footer-one p{
    color: white;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 8.5px;
    margin-bottom: 4%;
}

footer strong{
    margin-left: 37%;
    margin-top: 8%;
    color: white;
    font-weight: 600;
    font-size: 37px;
    /* letter-spacing: 8.5px; */
}

.footer-button input{
    /* margin-left: 6%; */
    padding: 16px 28px;
    border-radius: 5px;
    font-size: 16px;
}

.footer-button button{
    /* display: flex; */
    margin-left: 4%;
    padding: 16px 24px;
    border-radius: 5px;
    border: 1px solid red;
    font-size: 16px;
    font-weight: 500;
}

.footer-button button p{
    letter-spacing: 4px;
    font-size: 16px;
    font-weight: 500;
}

.footer-button button p:hover{
    color: red;
    cursor: grab;
}


.footer-button .footer-button-button{
    margin-bottom: 2%;
}

/* Footer Lower End Starts Here */

.footer-lower-end a{
    padding-top: 0.4%;
    margin-left: 4.5%;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.footer-lower-end a:hover{
    color: red;
    cursor: grab;
}

#footer-links{
    margin-left: 58%;
}

@media (min-width: 390px) and (max-width: 840px) {
    .container-parent{
        display: block;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .nav-bar{
        display: none;
    }

    #computer{
        display: none;
    }

    /* Nav bar begin here */

    .nav-bar-phone{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-two-phone{
        display: flex;
        margin-left: 1%;
        padding: 4px 8px;
        /* justify-content: space-evenly; */
        /* align-items: center */
    }

    #space{
        padding-left: 15px;
    }
    .nav-two-phone a{
        text-decoration: none;
        color: black;
        font-size: 8px;
    }

    .navlink-phone{
        justify-content: left
        /* display: ; */
    }

    .nav-one-phone{
        width: 50px;
        margin-top: 2%;
    }


    .nav-one-phone img{
        margin-top: 2%;
        width: 80px;
        height: 20px;
        margin-left: 4%;
    }

    /* Nav bar ends here */

    #phone{
        display: flex;
        flex-direction: column;
    }

    .middle-section-phone{
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        margin-left: 3%;
        /* justify-content: center; */
    }

    .middle-one-phone{
        margin-top: 2%;
        margin-left: 1%;
    }

    .middle-one-phone h2{
        margin-left: 2%;
        font-size: 12px;
    }

    .middle-one-phone p{
        margin-top: 3%;
        margin-left: 2%;
        font-size: 10px;
        /* justify-content: center;
        align-items: center; */
    }

    .middle-one-phone button{
        margin-top: 6%;
        /* margin-left: 15%; */
        /* flex-wrap: wrap; */
        /* padding: 4%; */
        /* width: 20px; */
    }

    .middle-one-phone button a{
        text-decoration: none;
        color: black;
    }

    .middle-section-two-phone img{
        width: 80px;
        height: 60px;
    }

    /* Middle section ends here */

    #phone-below-middle-section{
        display: flex;
        flex-direction: column;
    }

    .section-wrapper-phone{
        margin-top: 4%;
        margin-left: 2%;
    }

    .section-one-phone{
        padding-left: 100px;
    }

    .section-one-phone h2{
        font-size: 18px;
    }

    .section-one-phone p{
        font-size: 10px;
        font-weight: 400;
        padding-left: 10px;
        color: gray;
    }

    .section-three-phone{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 14%;
    }

    .section-three-phone a{
        color: gray;
        text-decoration: none;
    }

    .section-three-phone a:hover{
        color: red;
    }

    .section-three-phone hr{
        width: 44%;
        margin-top: 1.5%;
    }

    /* Fourth wrapper starts here */

    .fourth-wrapper-phone{
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        margin-left: 2.5%;
    }

    .fourth-wrapper-phone img{
        width: 150px;
        height: auto;
    }

    .picture-frame-phone{
        padding-left: 50px;
    }

    .fouth-letters-phone{
        font-size: 12px;
        margin-top: 2.5%;
    }
}

@media (min-width: 741px) and (max-width: 980px){

}