*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* Universal selector */

.nav-bar{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

.nav-one{
    margin-left: 80px;
    margin-bottom: 10px;
}


/* .navlink-one{} */

.navlink-one a{
    text-decoration: none;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 13px;
}

#opera{
    height: 80px;
    width: 80px;
    margin-left: 30px;
}

/* Image wrapper ends here */


/* After Image Ends Here */



.footer-button .footer-button-button{
    margin-bottom: 2%;
}

/* Footer Lower End Starts Here */

/* Responsive design begins here */

@media (min-width: 820px){

    .container-parent{
        display: block;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .nav-bar{
        display: none;
    }

    #computer{
        display: none;
    }

    #phone{
        display: flex;
        flex-direction: column;
    }

      /* Nav bar begin here */

      .nav-bar-phone{
        width: auto;
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    }

    .nav-one-phone{
        width: 50px;
        margin-top: 1%;
        border: 1px solid blue;
    }

    .nav-one-phone img{
        width: 60px;
        border: 1px solid green;
    }

    .nav-two-phone{
        display: flex;
        margin-left: 4%;
        padding: 2px 1px;
        /* border: 1px solid red; */
    }

}
/* Responsive Phone design */

@media (min-width: 390px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
    }

    .container-parent{
        display: block;
        flex-direction: column;
        /* flex-wrap: wrap; */
    }

    .nav-bar{
        display: none;
    }

    #computer{
        display: none;
    }

    /* Nav bar begin here */

    .nav-bar-phone{
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .nav-two-phone{
        display: flex;
        margin-left: 1%;
        padding: 4px 8px;
    }

    #space{
        padding-left: 15px;
    }
    .nav-two-phone a{
        text-decoration: none;
        color: black;
        font-size: 8px;
    }

    .navlink-phone{
        justify-content: left
        /* display: ; */
    }

    .nav-one-phone{
        width: 50px;
        margin-top: 2%;
    }


    .nav-one-phone img{
        margin-top: 2%;
        width: 80px;
        height: 20px;
        margin-left: 4%;
    }

    /* Nav bar ends here */

    #phone{
        display: flex;
        flex-direction: column;
    }

    .middle-section-phone{
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        margin-left: 3%;
        /* justify-content: center; */
    }

    .middle-one-phone{
        margin-top: 2%;
        margin-left: 1%;
    }

    .middle-one-phone h2{
        margin-left: 2%;
        font-size: 12px;
    }

    .middle-one-phone p{
        margin-top: 3%;
        margin-left: 2%;
        font-size: 10px;
        /* justify-content: center;
        align-items: center; */
    }

    .middle-one-phone button{
        margin-top: 6%;
        /* margin-left: 15%; */
        /* flex-wrap: wrap; */
        /* padding: 4%; */
        /* width: 20px; */
    }

    .middle-one-phone button a{
        text-decoration: none;
        color: black;
    }

    .middle-section-two-phone img{
        width: 80px;
        height: 60px;
    }

    /* Middle section ends here */


    .section-wrapper-phone{
        margin-top: 4%;
        margin-left: 2%;
    }

    .section-one-phone{
        padding-left: 100px;
    }

    .section-one-phone h2{
        font-size: 18px;
    }

    .section-one-phone p{
        font-size: 10px;
        font-weight: 400;
        padding-left: 10px;
        color: gray;
    }

    .section-three-phone{
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 14%;
    }

    .section-three-phone a{
        color: gray;
        text-decoration: none;
    }

    .section-three-phone a:hover{
        color: red;
    }

    .section-three-phone hr{
        width: 44%;
        margin-top: 1.5%;
    }

    /* Fourth wrapper starts here */

    .fourth-wrapper-phone{
        display: flex;
        flex-direction: column;
        margin-top: 4%;
        margin-left: 2.5%;
    }

    .fourth-wrapper-phone img{
        width: 150px;
        height: auto;
    }

    .picture-frame-phone{
        padding-left: 50px;
    }

    .fouth-letters-phone{
        /* font-size: 12px; */
        margin-top: 2.5%;
    }

    .heavy-letters-phone{
        padding-left: 48.7px;
        padding-top: 8px;
    }

    .heavy-letters-phone h2{
        font-weight: 600;
        font-size: 14px;
    }

    .light-letters-phone{
        margin-top: 2.5%;
    }

    .light-letters-phone p{
        font-size: 12px;
        padding-left: 10px;
        color: gray;
    }

    .letters-button-phone{
        margin-top: 1.75%;
        margin-left: 23%;
    }

    .letters-button-phone a{
        text-decoration: none;
        color: black;
    }

    /* lower wrapper starts here */

    .lower-wrapper-phone{
        margin-top: 2.5%;
        margin-left: 1%;
    }

    .lower-wrapper-phone h2{
        font-size: 14px;
        padding-left: 46.75px;
    }

    .lower-wrapper-phone p{
        color: gray;
        font-size: 14px;
        margin-top: 1.5%;
        padding-left: 8px;
    }

    /* Image wrapper start here */

    .image-wrapper-phone{
        display: flex;
        flex-direction: column;
        margin-top: 4.75%;
    }

    #image-line{
        display: flex;
        flex-direction: column;
    }

    #image-line img{
        width: 80px;
        height: auto;
        padding-left: 95px;
    }

    #image-line strong{
        font-size: 16px;
        padding-left: 75px;
        padding-top: 4px;
    }

    #image-line p{
        padding-top: 4px;
        font-size: 16px;
        padding-left: 65px;
    }

    #image-line hr{
        width: 43%;
        margin-top: 4px;
        margin-left: 60px;
    }

    #image-line a{
        color: black;
        text-decoration: none;
    }

    #image-line button{
        margin-top: 4px;
        width: 180px;
        height: auto;
        margin-left: 54px;
        padding: 8px 4px;
        border-radius: 5px;
    }

    .image-two-phone{
        margin-top: 4%;
    }

    .image-three-phone{
        margin-top: 4%;
    }

    .after-image-phone{
        margin-top: 4%;
    }
}
